// .footer-heigh {
//   height: 50px;
// }

.footer {
  position:relative;

  margin-top:10px;
  padding-top: 60px;
  
 
  
  color: #ffffff;
 
  height: 50px;
  
}

#footermarign{

  margin-left: 0px;
  margin-right: 0px;
}